<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="css/guestBook.css">
  <script src="scripts/xhrUtils.js"></script>
  <script src="scripts/formUtils.js"></script>
  <script src="scripts/addComments.js"></script>
</head>

<body>
  <div class="heading">
    <a href="/">&le;&le;</a>
    <h1>Guest Book</h1>
  </div>
  <h2 class="heading black">Leave a comment</h2>

  <form id="add-comments">
    __USERNAME__
    <div class="row">
      <label for="comment">Comment:
        <textarea name="comment" cols="20" rows="5" required></textarea>
      </label>
    </div>

    <div class="submit">
      <button type="button" onclick="addComment()">post comment</button>
    </div>
  </form>

  <div class="comments-wrapper">
    <table>
      <thead>
        <th>Name</th>
        <th>Comment</th>
        <th>Date</th>
      </thead>
      <tbody id="comments">
        __TABLE__BODY__
      </tbody>
    </table>
  </div>
</body>

</html>